
/Books/
/.obsidian/workspace.json
/.obsidian/workspace.json
/.obsidian/community-plugins.json
/.obsidian/community-plugins.json
/.obsidian/workspace.json
/.obsidian/workspace.json
/.obsidian/appearance.json
/.obsidian/community-plugins.json