
/Books/
/.obsidian/workspace.json
/.obsidian/workspace.json
/.obsidian/community-plugins.json
/.obsidian/community-plugins.json
/.obsidian/workspace.json
/.obsidian/workspace.json
/.obsidian/appearance.json
/.obsidian/community-plugins.json
/.obsidian
/.obsidian
/.obsidian
/.gitignore
/.obsidian
/.obsidian/plugins/obsidian-git/data.json
/.obsidian/workspace.json